::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100vh;
  width: 100%;
}

.images {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 100vh;
  width: 100%;
}

.img {
  height: 100vh;
  width: 30%;
  transition: 1s;
}

.img2 {
  height: 100vh;
  width: 20%;
  transition: 1s;
}

.navbox {
  height: 33%;
  width: 100%;
}

.chart {
  height: 60vh;
  width: 60vw;
}

.detail {
  height: 30vh;
  width: 60vw;
  background-color: whitesmoke;
  border-radius: 25px;
  border: 2px solid red;
}

.card {
  height: 8vh;
  width: 24vw;
  background-color: seashell;
}

.card:hover {
  background-color: lightcyan;
}

.card-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
