::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100vh;
  width: 100%;
}

.images {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 100vh;
  width: 100%;
}

.img {
  height: 100vh;
  width: 30%;
  transition: 1s;
}

.img2 {
  height: 100vh;
  width: 20%;
  transition: 1s;
}

.navbox {
  height: 33%;
  width: 100%;
}

.chart {
  height: 60%;
  width: 110%;
}

.detail {
  height: 30vh;
  width: 110%;
  background-color: whitesmoke;
  border-radius: 25px;
  border: 2px solid red;
}

.card {
  height: 8vh;
  background-color: seashell;
}

.card:hover {
  background-color: lightcyan;
}

.card-div {
  height: 100%;
}

.detail-name {
  font-weight: 1000%;
  text-transform: uppercase;
}

.price {
  font: 4vw sans-serif;
}

.change {
  border-radius: 7%;
  padding: 1%;
}

.link {
  color: black;
}

.success {
  background-color: #22cb5c;
}

.danger {
  background-color: #eb4d4b;
}

.card-name {
  height: 100%;
  width: 40%;
}
.card-price {
  width: 30%;
}
.card-change {
  width: 30%;
}

h1 {
  font: 3vw sans-serif;
}

h5 {
  font: 1.2vw sans-serif;
}

h6 {
  font: 1vw sans-serif;
}

h4 {
  font: 1.4vw -apple-system;
}

.img-detail {
  height: 12vh;
  width: 6vw;
}
