.example::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100vh;
  width: 100%;
}

.images {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100vh;
  width: 100%;
}

.img {
  height: 100vh;
  width: 30%;
  transition: 1s;
}

.img2 {
  height: 100vh;
  width: 20%;
  transition: 1s;
}

.navbox {
  height: 33%;
  width: 100%;
}
